body{
    font-family: Arial,
    width: 960px;
    margin: 0 auto;
}
#menu{
    font-family: 'Times New Roman',
    float: left;
    width: 160px;
    margin-top: 20px;
}
#menu h3{
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
}
#menu ul{
    list-style-type: none;
}
#menu ul li{
    font-size: 21px;
}
#menu a, #menu a:link, #menu a:visited{
    color: #900;
    text-decoration: none;
}
#menu a:hover{
    font-weight: bold;
    color: #f33;
}
#menu ul li#aktiv a{
    color: #f66;
    font-weight: bold;
}
#fejlec{
    font-family: 'Flavors', cursive;
    height: 50px;
    background-color: #eee;
}
#fejlec h1{
    font-size: 36px;
    float: left;
    padding: 0 10px;
    margin: 0 40px 0 0;
}
#fejlec h2{
    font-size: 18px;
    clear: right;
    margin: 0;
    padding-top: 20px;
}
#tartalom{
    width: 780px;
    float: left;
    margin-left: 20px;
}
#tartalom h3{
    font-size: 1.2em;
}
#tartalom h4{
    font-size: 18px;
}
#tartalom .figure{
    float: left;
    margin: 40px 20px;
}
#lablec{
    height: 50px;
    background-color: #eee;
    color: #999;
}
#lablec p{
    padding: 10px;
    text-align: center;
}
